<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <!-- <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          Digital Newspaper
        </a>
      </div>
    </nav> -->
    <section class="section">
      <div class="container">
        <a href="/">
          <h1 class="title has-text-centered">
            Koran Digital
          </h1>
        </a>
        <p class="subtitle has-text-centered">
          Lihat <strong>cuaca</strong>, baca <strong>berita</strong>, dan ketahui <strong>fakta unik</strong> kotamu di sini!
        </p>
        <!-- <p class="subtitle is-size-7 has-text-centered has-text-grey-light">
          Made by Dwi C. P. and Alfian M. I.
        </p> -->
        <form class="search" method="get" action="{{ url_for('search') }}">
            <div>
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input has-text-centered" type="search" placeholder="Masukkan nama kota..." name="keyword" value="{{ keyword }}">
                    </div>
                    <div class="control">
                      <button type="submit" class="button is-link">Cari</button>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </section>
    <section class="section">
      <div class="columns">
        <div class="column is-one-third">
          <div class="row">
            <div class="container">
              <div class="card">
                <div class="card-header">
                  <p class="card-header-title">
                    Cuaca di {{ region[1] }} hari ini
                  </p>
                </div>
                <div class="card-content">
                  {% for data in weather['weather'] %}
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="http://openweathermap.org/img/w/{{ data.icon }}.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4">{{ data.main }}</p>
                      <p class="subtitle is-6">{{ data.description }}</p>
                    </div>
                  </div>
                  <hr>
                  {% endfor %}
                  <div class="content">
                    <p class="subtitle is-4">Awan: {{ weather['clouds']['all'] }}%</p>
                    <p class="subtitle is-5">Kelembaban: {{ weather['main']['humidity'] }}%</p>
                    <p class="subtitle is-5">Angin: {{ weather['wind']['speed'] }} m/s</p>
                    <p class="subtitle is-5">Tekanan: {{ weather['main']['pressure'] }}hpa</p>
                    <time datetime="{{ time }}">{{ time }}</time>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="container">
              <div class="card">
                <div class="card-header">
                  <p class="card-header-title">
                    Fakta menarik di {{ region[0] }}
                  </p>
                </div>
                <div class="card-content has-text-centered">
                  <div class="table-container">
                    <table class="table is-fullwidth is-hoverable">
                      <thead>
                        <tr>
                          <!-- <th>No</th> -->
                          <th>Kategori</th>
                          <th>Konten</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for key in facts %}
                        <tr>
                          <!-- <td>{{ loop.index }}</td> -->
                          <td>{{ key }}</td>
                          <td>{{ facts[key] }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="container">
            <div class="card is-hidden-mobile">
              <div class="card-header">
                <p class="card-header-title">
                  Berita utama di {{ region[0] }} saat ini
                </p>
              </div>
              {% for article in news['articles'] %}
              <div class="card-content">
                <div class="media">
                  <div class="media-left has-text-centered is-fullwidth">
                    <figure class="image is-128x128 is-square">
                      <img src="{{ article['urlToImage'] }}" alt="Placeholder image">
                    </figure>
                    <br>
                    <a href="{{ article['url'] }}" target="_blank">
                      <button class="button is-fullwidth">Baca berita</button>
                    </a>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{ article['title'] }}</p>
                    <p class="subtitle is-6">
                      {{ article['author'] }} | {{ article['source']['name'] }}<br><br>
                      {{ article['description'] }}<br>
                    </p>
                    <time datetime="{{ article['publishedAt'] }}">{{ article['publishedAt'][:10] }}</time>
                  </div>
                </div>
              </div>
              <hr>
              {% endfor %}
            </div>
            <div class="card is-hidden-tablet">
              <div class="card-header">
                <p class="card-header-title">
                  Berita utama di {{ region[0] }} saat ini
                </p>
              </div>
              {% for article in news['articles'] %}
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="{{ article['urlToImage'] }}" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                  <p class="title is-4">{{ article['title'] }}</p>
                  <p class="subtitle is-6">
                    {{ article['author'] }} | {{ article['source']['name'] }}<br><br>
                    {{ article['description'] }}<br>
                  </p>
                  <time datetime="{{ article['publishedAt'] }}">{{ article['publishedAt'][:10] }}</time>
                </div>
              </div>
              <div class="container" style="padding-left: 10px; padding-right: 10px">
                <a href="{{ article['url'] }}" target="_blank">
                  <button class="button is-fullwidth">Baca berita</button>
                </a>
              </div>
              <br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong><a href="https://github.com/dcpangestu/DigitalNewspaper">Koran Digital</a></strong> oleh <a href="https://github.com/dcpangestu">Dwi Cahyo Pangestu</a> dan <a href="https://github.com/alfinm01">Alfian Maulana Ibrahim</a>.
          <br>
          Tugas mata kuliah STI ITB <strong>II3160 - Teknologi Sistem Terintegrasi</strong>, dosen pengampu Bapak I Gusti Bagus Baskara Nugraha.
        </p>
      </div>
    </footer>
  </body>
</html>